<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <%- include('./cssjs.ejs') %>
</head>
<body>
    <h1>Welcome to Pokemon World
    </h1>

    <nav>
        <a href="/pokemon/new">Caught a new Pokemon? Add here!</a>
    </nav>

    <ul>
        <% for (let i = 0; i < pokemon.length; i++){ %>
        <li>
            <%= pokemon[i].name %>
            <a href='/pokemon/<%= i %>'><img src='<%= pokemon[i].img %>'></img></a>
        </li>

        <form action="/pokemon/<%= i %>?_method=DELETE" method="post">
            <input type="submit" value="delete">
        </form>
        <% } %>
    </ul>

    <style>
        body {
            background-color: red;
            color: whitesmoke;;
        }
    </style>
</body>
</html>